.mDTodoList{
    position: relative;
    margin: 10px auto 10px auto;
    width: 400px;
    min-height:300px;
    max-height: 600px;
    background-color: rgb(197, 212, 210);
    color: darkslategrey;
    font-size: 18px;
    border-radius: 5px;
}
.inputTask{
    position: relative;
    top:10px;
    display: block;
    width: 300px;
    margin: 0px auto 10px auto;
    background-color: rgb(236, 235, 208);
    color: rgb(6, 6, 39);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgb(100, 113, 131);
}
.mDTodoList button{
    position: relative;
    display: block;
    margin: 20px auto 10px auto;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(117, 199, 34) ;
    color: rgb(48, 73, 23);
    border: 1px solid rgb(67, 83, 51);
}
.mDTodoList button:hover{
    background-color: rgb(48, 73, 23);
    color: rgb(117, 199, 34);
}
.mDTodoList ul{
    list-style-type: none;
}
.inputLiCheckbox {
    cursor: pointer;
}
.taskLi{
    margin: 3px 0px 2px 20px;
    cursor: pointer;
}
.taskLi.done{
   text-decoration: line-through;
}
